--find-links https://download.pytorch.org/whl/torch_stable.html
fastapi
uvicorn
gunicorn
google.generativeai
twilio
python-multipart
Pillow
azure-cosmos
python-jose
azure.storage.blob
pydantic==1.10.13
dotenv
torch==2.3.1+cpu
torchvision==0.18.1+cpu
opencv-python
pandas
numpy
scikit-learn
shap
requests