# requirements.txt (Recommended for stability and compatibility)

# Package Sources (Must remain at the top)
# --find-links https://download.pytorch.org/whl/torch_stable.html

# Core Web Stack
fastapi
gunicorn
uvicorn[standard]
pydantic

# Utility & Auth
python-multipart
python-jose
Pillow
requests
dotenv
twilio
google.generativeai
azure-cosmos
azure.storage.blob

# ML/Data
# torch==2.3.1+cpu
# torchvision==0.18.1+cpu
# pandas
# numpy
# scikit-learn
# shap